# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [57]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [58]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [59]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [60]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [61]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

In [62]:

#ds.drop(index=21, inplace=True)
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [75]:
#employees.append("Bob")
#employees.append("Mark")
emp = ["Bob","Mark"]
emp = pd.Series(emp)
ds = pd.concat([ds,emp],ignore_index=True)
#ds = pd.Series(data=employees)
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7        Bob
8       Mark
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [64]:
components = ["monitor","keyboard","processor","RAM","hard drive"]
components = pd.Series(data=components)
components

0       monitor
1      keyboard
2     processor
3           RAM
4    hard drive
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [87]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [88]:
# tools_in_stock['torch']=14
# tools_in_stock['rachet']=30

# tools = pd.Series(data=tools_in_stock)
tis = {'torch':14,'rachet':30}
tis = pd.Series(data=tis)
tools = pd.concat([tis,tools])
tools

torch          14
rachet         30
hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [67]:
f"{tools.sum()} {tools.mean()}"

'102 14.571428571428571'

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [68]:
f'{tools.describe()}'

'count     7.000000\nmean     14.571429\nstd       9.216962\nmin       4.000000\n25%       8.000000\n50%      14.000000\n75%      19.000000\nmax      30.000000\ndtype: float64'

### Tasks

Calculate the average number of tools in stock.

In [69]:
tools.mean()

14.571428571428571

Generate descriptive statistics for the tools in stock.

In [70]:
tools.describe()

count     7.000000
mean     14.571429
std       9.216962
min       4.000000
25%       8.000000
50%      14.000000
75%      19.000000
max      30.000000
dtype: float64

## Data Limitation

You can specify a single value in Series.

In [89]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [90]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [73]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [91]:
customers = {'monday':1,'thusday':2,'wensday':3,'thursday':4,'friday':5,'saturday':6,'sunday':7}
customers = pd.Series(data=customers)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [92]:
customers

monday      1
thusday     2
wensday     3
thursday    4
friday      5
saturday    6
sunday      7
dtype: int64

Display the total number of restaurant customers.

In [93]:
customers.sum()

28

Display the median number of restaurant customers.

In [94]:
customers.median()

4.0

Display descriptive statistics.

In [95]:
customers.describe()

count    7.000000
mean     4.000000
std      2.160247
min      1.000000
25%      2.500000
50%      4.000000
75%      5.500000
max      7.000000
dtype: float64

Display the list of restaurant customers on business days.

In [96]:
customers['monday':'friday']

monday      1
thusday     2
wensday     3
thursday    4
friday      5
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [97]:
customers['monday':'friday'].mean()

3.0

Display the list of restaurant customers on the weekend.

In [98]:
customers['saturday':'sunday']

saturday    6
sunday      7
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [99]:
customers['saturday':'sunday'].sum()

13